html,body{
	margin: 0 auto;
	font-family: Microsoft Sans Serif, Trebuchet MS, Franklin Gothic, Verdana, sans-serif !important;
	background-color: rgba(181,236,255);
}

.div-hello {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/header-sun2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.scroll-stop {
	height: 100%;
	overflow: hidden;
}

.header{
	position: relative;
	margin-bottom: -20px;
	padding-bottom: 5vw;
	background-color: rgba(181,236,255);
	color: rgba(2,36,163);
}

.header-title{
	position: relative;
	text-align: center;
}

.header-title h2{
	font-size: 1.4vw;
	font-weight: bolder;
}

.btn-default{
	background-color: rgba(21,143,1) !important;
	border: 1px solid rgba(21,143,1) !important;
	text-align: center;
}

.navbar {
	list-style-type: none;
	overflow: hidden;
	border-radius: 0 !important;
	/*background-color: rgba(253,255,164);*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-self: space-between;
	text-decoration: none;
}

.navbar li{
	list-style-type: none;
	padding: 0.85vw 0.4vw;
	font-size: 1.4vw;
	text-transform: uppercase;
	position: relative;
}

.navbar li:not(:first-child):after {
	content: " ";
	position: absolute;
	border-right: 0.2vw solid rgba(2,36,163);
	top: 25%;
	right: 0;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar a {
	color: rgba(2,36,163);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	word-wrap: break-word;
}

.navbar a:hover,
.active a:focus{
	text-decoration: underline;
	color: rgba(0,114,6);
}

.lang{
	appearance: none;
	padding: 0 0.3vw;
	border: 1px solid rgba(2,36,163);
	border-radius: 2px;
	background-color: rgba(2,36,163);
	color: rgba(181,236,255);
	outline: none;
	cursor: pointer;
}

.lang:focus,
.lang:active{
	outline: none;
}

.lang,
.lang option{
	text-align: center;
	font-weight: bolder;
}

.btn-scroll{
	display: none;
	position: fixed;
	bottom: 2vw;
	right: 2vw;
	font-size: 2.5vw;
	padding: 0 0.5vw 1vw 0.4vw;
	width: 4vw;
	height: 4vw;
	background-color: rgba(0,116,214);
	color: rgba(255,255,255);
	border: none;
	border-radius: 10vw;
	outline: none;
	cursor: pointer;
}

.section{ 
	position: relative;
	padding: 1vw;
}

.header::before,
.section::before,
.footer::before{
	content: "";
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-attachment: fixed;
}

.section-title{
	position: relative;
	text-transform: uppercase;
	font-size: 2vw;
}

.section:nth-child(odd) .section-title{
	position: relative;
	color: rgba(2,36,163);
}

.section:nth-child(even) .section-title{
	position: relative;
	color: rgba(0,75,0);
}

.article{
	position: relative;
	padding: 2vw 0;
	font-weight: 550;
}

.article p{
	text-indent: 3vw;
	font-size: 1.4vw;
}

.section:nth-child(odd) .article p{
	padding: 2vw 20vw 2vw 0;
}

.section:nth-child(even) .article p{
	padding: 2vw 0vw 2vw 20vw;
}

.article li{
	font-size: 1.4vw;
}

.section:nth-child(odd) .article ol,
.section:nth-child(odd) .article ul{
	padding-right: 20vw;
}

.section:nth-child(even) .article ol:not(:first-child),
.section:nth-child(even) .article ul:not(:first-child){
	padding-left: 22vw;
}

.section:nth-child(even){
	color: rgba(0,75,0);
}

.section:nth-child(odd){
	color: rgba(2,36,163);
}

.item{
	margin: 15px auto;
}

.item-image{
	text-align: center;
	width:  36vw;
	height: 34vw;
	cursor: pointer;
}

.item-title{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0.5vw;
}

.item-caption{
	height: 3vw;
	padding-bottom: 4.25vw;
}

.item-check{
	padding: 3vw;
	font-size: 1.5vw;
	text-align: center;
}

.item-info,
.item-watch{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1vw;
	font-size: 2vw;
}

.item-note{
	font-size: 1.9vw;
	font-weight: 800;
}

.carousel-control{
	background-image: none !important;
	filter: none !important;
	padding: 0 18vw;
}

.carousel-controll{
	margin-bottom: 18vw !important;
}

.glyphicon{
	color: rgba(0,75,0,0.95);
}

.glyphicon:hover{
	color: rgba(0,75,0,1.0);
}

.glyphicon2{
	color: rgba(2,36,163,0.95);
}

.glyphicon2:hover{
	color: rgba(2,36,163,1.0);
}

.section-title,
.article-title{
	margin-top: 0;
	text-align: center;
	padding: 20px 0 10px 0;
	font-weight: bold;
}

.premium{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1vw 20vw 1vw 5vw;
}

.premium-image{
	align-self: center;
	width: 8vw;
}

.div-autho,
.section-image-div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 4vw;
}

.div-autho > .image-autho:nth-child(odd){
	width: 25vw;
	height: auto;
}

.div-autho > .image-autho:nth-child(even){
	width: 15vw;
	height: auto;
}

.section-image,
.section-image__about{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-image{
	width: 20vw;
}

.section-image__about{
	width: 40vw;
	padding: 4vw;
}

.section-image-div > .section-image-div__about{
	width: 25vw;
}

.farmUse {
	counter-reset: list;
	text-indent: 2vw;
}

.farmUse > .farmUse-examp {
 	list-style: none;
}

.farmUse > .farmUse-examp:before {
	content: counter(list) ") ";
	counter-increment: list;
}

.Ukraine{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2vw 0 2vw 3vw;
}

.Ukraine-content{
	padding: 0 2vw;
	text-indent: 3vw;
	font-size: 1.4vw;
}

.deliveries{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-left: 17.5vw;
	width: 12vw;
}

.top-row,
.middle-row,
.bottom-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.country{
	height: auto;
	width: 15vw;
	margin: 2vw 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.country-image{
	width: 10vw;
	height: auto;
}

.country-name{
	font-size: 1.4vw;
}

.alpha{
	text-transform: lowercase;
}

.footer{
	position: relative;
	height: 48vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(181,236,255);
	color: rgba(0,0,120);
	padding: 2vw 0;
	font-size: 1.25vw;
}

.contacts{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 1vw;
}

.contacts a{
	color: rgba(0,0,120);
	text-decoration: none;
}

.contacts a:hover,
.contacts a:focus{
	color: rgba(0,75,0);
	text-decoration: underline;
}

.copyright{
	position: relative;
	text-align: center;
	font-weight: 550;
}

.logo{
	width: 25%;
	height: auto;
	padding-top: 4vw;
}

/**sections**/

.header::before{
	background-image: url("../images/section-sun-rev.jpg");
	background-position: left;
}

.section:nth-child(odd)::before,
.article:nth-child(odd)::before{
	background-image: url("../images/section-sun.jpg");
	background-position: right;
}

.section:nth-child(even)::before{
	background-image: url("../images/section-sun-rev.jpg");
	background-position: left;
}

.footer::before{
	background-image: url("../images/footer-sun.jpg");
	background-position: center;
}
/*==========================================*/

/****** Responsive styles ******/
@media only screen and (max-width: 990px){

	.div-hello{
		background-image: url('../images/header-sun.jpg');
	}

	.btn-scroll{
		font-size: 6vw;
		width: 10vw;
		height: 10vw;
		border-radius: 12vw;
	}

	.section:nth-child(odd)::before{
		background-image: url('../images/section-sun-alt.jpg');
	}

	
	.header:before,
	.section:nth-child(even)::before{
		background-image: url('../images/section-sun-alt-rev.jpg');
	}

	.section:nth-child(odd) .article ol,
	.section:nth-child(odd) .article ul{
		padding-right: 2vw;
	}

	.article p, .article li,
	.item-title, .item-info,
	.item-check, .item-watch,
	.item-note, .Ukraine-content,
	.country-name, .address p, 
	.phones p, .emails p, .copyright
	{
		font-size: 4vw;
	}

	ul{
		padding: 0 6vw;
	}

	.item-caption{
		padding-top: 2vw;
		padding-bottom: 16vw;
	}

	.item-watch{
		margin: 0;
	}

	.item-check{
		padding: 0;
		margin: 0;
		font-size: 1.5vw;
	}

	.navbar li{
		padding: 2vw 1.1vw;
		font-size: 3.5vw;
	}

	.section-title,
	.article-title{
		font-size: 4vw;
		font-weight: bold;
	}

	.section,
	.article{
		padding: 2vw 1vw;
	}

	.section-title{
		padding: 8vw 0 2vw 0;
	}

	.article-title{
		padding: 2vw 0 2vw 0;
	}

	.section:nth-child(odd) .article p{
		padding-left: 3vw;
		padding-right: 22vw;
	}

	.section:nth-child(odd) .article ol,
	.section:nth-child(odd) .article ul{
		padding-left: 10vw;
	}

	.section:nth-child(odd) .article li{
		padding-right: 14vw;
	}

	.item-image{
		width: 50%;
		height: auto;
	}

	.premium-image{
		width: 16vw;
	}

	.div-autho > .image-autho{
		padding: 2vw;
	}

	.div-autho > .image-autho:nth-child(odd){
		width: 45vw;
	}

	.div-autho > .image-autho:nth-child(even){
		width: 35vw;
	}

	.section-image__about{
		width: 45vw;
	}

	.section-image-div > .section-image-div__about{
		width: 50vw;
		padding: 2vw;
	}

	.section-image{
		width: 34vw;
		margin: 0 26vw;
	}

	.deliveries{
		padding-right: 20vw;
	}

	.Ukraine{
		flex-direction: column;
		justify-content: center;
		padding: 3vw 0;
	}

	.Ukraine > .country-image{
		margin: 3vw auto;
	}

	.Ukraine-content{
		padding: 0 0 0 18vw;
	}

	.top-row,
	.middle-row,
	.bottom-row{
		display: grid;
  		grid-template-columns: auto auto;
	}

	.country{
		margin: 2vw 8vw;
		text-align: center;
	}

	.country-image{
		width: 25vw;
		height: auto;
	}

	.country-name{
		width: 25vw;
	}

	.footer{
		height: 210vw;
	}

	.contacts{
		padding: 4vw;
		justify-content: flex-start;
	}

	.address,
	.phones{
		padding-bottom: 6vw;
	}
	
	.address p b{
		display: block;
	}

	.logo{
		width: 50%;
		padding-top: 6vw;
	}

}

@media only screen and (min-width: 1980px){

	.article p,
	.article li,
	.Ukraine-content,
	.country-name
	{
		font-size: 2vw;
	}

	.section:nth-child(odd) .article p{
		padding-left: 3vw;
	}

	.item-title,
	.item-watch{
		font-size: 2.25vw;
		padding: 1vw 0;
	}

	.item-info{
		font-size: 1.25vw;
	}

	.glyphicon{
		font-size: 2.5vw !important;
	}

	ol,ul{
		padding-left: 4vw;
	}

	.article-title,
	.section-title{
		font-size: 2vw;
		font-weight: bold;
	}

	.section,
	.article{
		padding: 1vw 0.5vw;
	}

	.section-title,
	.article-title{
		padding: 4vw 0 2vw 0;
	}

	.item-image{
		width: 25%;
		height: 25%;
	}

	.premium-image{
		width: 10vw;
	}

	.Ukraine{
		padding: 3vw 0 3vw 19.5vw;
	}

	.footer p,
	.LTD{
		font-size: 1.5vw;
	}

	.footer .copyright{
		padding: 1vw 0;
	}
}

