html,body{
	margin: 0 auto;
	font-family: Microsoft Sans Serif, Trebuchet MS, Franklin Gothic, Verdana, sans-serif !important;
	background-color: rgba(181,236,255);
}

.div-hello {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/header-sun2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.scroll-stop {
	height: 100%;
	overflow: hidden;
}

.header{
	position: relative;
	margin-bottom: -20px;
	/*padding-top: 40vw;*/
	background-color: rgba(181,236,255);
	color: rgba(2,36,163);
}

.btn-default{
	background-color: rgba(21,143,1) !important;
	border: 1px solid rgba(21,143,1) !important;
	text-align: center;
}

.navbar {
	list-style-type: none;
	overflow: hidden;
	border-radius: 0 !important;
	/*background-color: rgba(253,255,164);*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-self: space-between;
	text-decoration: none;
}

.navbar li{
	list-style-type: none;
	padding: 0.85vw 0.4vw;
	font-size: 1.4vw;
	text-transform: uppercase;
	position: relative;
}

.navbar li:not(:first-child):after {
	content: " ";
	position: absolute;
	border-right: 0.2vw solid rgba(2,36,163);
	top: 25%;
	right: 0;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar a {
	color: rgba(2,36,163);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	word-wrap: break-word;
}

.navbar a:hover,
.active a:focus{
	text-decoration: underline;
	color: rgba(0,114,6);
}

.lang{
	appearance: none;
	padding: 0 0.3vw;
	border: 1px solid rgba(2,36,163);
	border-radius: 2px;
	background-color: rgba(2,36,163);
	color: rgba(181,236,255);
	outline: none;
	cursor: pointer;
}

.lang:focus,
.lang:active{
	outline: none;
}

.lang,
.lang option{
	text-align: center;
	font-weight: bolder;
}

.btn-scroll{
	display: none;
	position: fixed;
	bottom: 2vw;
	right: 2vw;
	font-size: 2.5vw;
	padding: 0 0.5vw 1vw 0.4vw;
	width: 4vw;
	height: 4vw;
	background-color: rgba(0,116,214);
	color: rgba(255,255,255);
	border: none;
	border-radius: 10vw;
	outline: none;
	cursor: pointer;
}

.section{ 
	position: relative;
	padding: 2vw;
}

.header::before,
.section::before,
.footer::before{
	content: "";
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-attachment: fixed;
}

.section-title{
	position: relative;
	text-transform: uppercase;
	font-size: 2vw;
}

.section:nth-child(odd) .section-title{
	position: relative;
	color: rgba(2,36,163);
}

.section:nth-child(even) .section-title{
	position: relative;
	color: rgba(0,75,0);
}

.section-image{
	width: 15vw;
	height: 55vw;
}

.article{
	position: relative;
	padding: 3vw 0;
	font-weight: 550;
}

.article p{
	text-indent: 3vw;
	padding: 2vw 20vw 2vw 0;
	font-size: 1.4vw;
}

.article li{
	font-size: 1.4vw;
	padding-right: 20vw;
}

.section:nth-child(odd) .article:nth-child(odd){
	color: rgba(0,75,0);
}

.section:nth-child(odd) .article:nth-child(even){
	color: rgba(2,36,163);
}

.section:nth-child(even){
	color: rgba(0,75,0);
}

.item{
	margin: 15px auto;
}

.item-image{
	text-align: center;
	width:  36vw;
	height: 34vw;
	cursor: pointer;
}

.item-title{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0.5vw;
}

.section:nth-child(even) .item-title{	
	color: rgba(0,75,0);
}

.section:nth-child(odd) .item-title{	
	color: rgba(2,36,163);
}

.item-caption{
	height: 3vw;
	padding-top: 1vw;
	padding-bottom: 4.25vw;
}

.item-check{
	padding: 3vw;
	font-size: 1.5vw;
	text-align: center;
}

.item-info,
.item-watch{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1vw;
	font-size: 2vw;
}

.item-note{
	font-size: 1.9vw;
	font-weight: 800;
}

.carousel-control{
	background-image: none !important;
	filter: none !important;
}

.glyphicon{
	color: rgba(0,75,0,0.95);
}

.glyphicon:hover{
	color: rgba(0,75,0,1.0);
}

.glyphicon3{
	color: rgba(2,36,163,0.95);
}

.glyphicon3:hover{
	color: rgba(2,36,163,1.0);
}

.section-title,
.article-title{
	margin-top: 0;
	text-align: center;
	padding: 20px 0 10px 0;
	font-weight: 550;
}

.aside{
	float: left;
	padding: 0 10px;
}

.premium{
	text-align: center;
	margin: 1vw;
}

.section-image__about{
	width: 100%;
  	height: auto;
}

.farmUse {
	counter-reset: list;
	text-indent: 2vw;
}

.farmUse > .farmUse-examp {
 	list-style: none;
}

.farmUse > .farmUse-examp:before {
	content: counter(list) ") ";
	counter-increment: list;
}

.alpha{
	text-transform: lowercase;
}

.footer{
	position: relative;
	height: 48vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(181,236,255);
	color: rgba(0,0,120);
	padding: 2vw 0;
	font-size: 1.25vw;
}

.contacts{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 1vw;
}

.info a{
	color: rgba(0,0,120);
	text-decoration: none;
}

.info a:hover,
.info a:focus{
	color: rgba(0,100,0);
	text-decoration: underline;
}

.copyright{
	position: relative;
	text-align: center;
	font-weight: 550;
}
/**sections**/

.header::before{
	background-image: url("../images/section-sun.jpg");
}
.section::before{
	background-image: url("../images/section-sun.jpg");
	background-position: right;
}
.footer::before{
	background-image: url("../images/footer-sun.jpg");
	background-position: center;
}
/*==========================================*/

/****** Responsive styles ******/
@media only screen and (max-width: 990px){

	.div-hello{
		background-image: url('../images/header-sun.jpg');
	}

	.btn-scroll{
		font-size: 6vw;
		width: 10vw;
		height: 10vw;
		border-radius: 12vw;
	}

	.article p, .article li,
	.item-title, .item-info,
	.item-check, .item-watch,
	.item-note, .info p,
	.address p, .copyright
	{
		font-size: 4vw;
	}

	ul{
		padding: 0 6vw;
	}

	.item-caption{
		padding-bottom: 16vw;
	}

	.item-watch{
		margin: 0;
	}

	.item-check{
		padding: 0;
		margin: 0;
		font-size: 1.5vw;
	}

	.navbar li{
		padding: 2vw 1.1vw;
		font-size: 3.5vw;
	}

	.article-title,
	.section-title{
		font-size: 4vw;
		font-weight: bold;
	}

	.section,
	.article,
	.aside{
		padding: 2vw 1vw;
	}

	.section-title{
		padding: 8vw 0 2vw 0;
	}

	.article-title{
		padding: 2vw 0 2vw 0;
	}

	.article p{
		padding-left: 3vw;
		padding-right: 25vw;
	}

	.article ol,
	.article ul{
		padding-left: 10vw;
	}

	.article li{
		padding-right: 12vw;
	}

	.item-image{
		width: 25%;
		height: auto;
	}

	.section-image{
		width: 25vw;
		height: 90vw;
	}

	.section-image__about{
		width: 75%;
		height: 75%;
	}

	.aside{
		float: none;
	}

	.footer{
		height: 150vw;
	}

	.contacts{
		padding: 4vw;
		justify-content: flex-start;
	}

	.address{
		padding-bottom: 6vw;
	}
	
	.address p b{
		display: block;
	}

}

@media only screen and (min-width: 1980px){

	p,li
	{
		font-size: 2vw;
	}

	.item-title,
	.item-watch{
		font-size: 2.25vw;
		padding: 1vw 0;
	}

	.item-info{
		font-size: 1.25vw;
	}

	.glyphicon{
		font-size: 2.5vw !important;
	}

	ol,ul{
		padding-left: 4vw;
	}

	.article-title,
	.section-title{
		font-size: 2vw;
		font-weight: bold;
	}

	.section,
	.article,
	.aside{
		padding: 1vw 0.5vw;
	}

	.section-title,
	.article-title{
		padding: 4vw 0 2vw 0;
	}

	.item-image{
		width: 25%;
		height: 25%;
	}

	.section-image
	{
		width: 15vw;
		height: 50vw;
	}

	.section-image__about{
		width: 125%;
		height: 125%;
	}

	.footer p,
	.LTD{
		font-size: 1.5vw;
	}

	.footer .copyright{
		padding: 1vw 0;
	}
}

